
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="form-group">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleInputNacionalidade">Questionário</label>
            <select class="browser-default custom-select mb-4" id="exampleInputNacionalidade">
              <option value="" disabled >Todas as doenças</option>
              <option value="1" >Dislexia</option>
              <option value="2" selected>Discalculia</option>
              <option value="2">TDAH</option>
            </select>
          </div>        <h2>
          Dislexia
        </h2>
          <div class="row">
            <div class="col-md-12">
              <p>
                Possui dificuldades em aprender e recordar os conceitos aritméticos e cálculos matemáticos?
              </p>
              <div>
                <input type="radio" id="sim" name="drone" value="huey"
                       checked>
                <label for="sim">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao" name="drone" value="huey">
                <label for="nao">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                Utiliza estratégias "imaturas" na resolução de problema? (exemplo: fazer conta com os dedos)
              </p>
              <div>
                <input type="radio" id="sim1" name="drone" value="huey"
                       checked>
                <label for="sim1">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao1" name="drone" value="huey">
                <label for="nao1">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                Dificuldade em compreender o conceito de numerosidade, por exemplo, dificuldade em comparação de magnitudes numéricas, contar rapidamente um conjunto de pontos, reconhecer o maior conjunto sem contar, etc.
              </p>
              <div>
                <input type="radio" id="sim2" name="drone" value="huey"
                       checked>
                <label for="sim">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao2" name="drone" value="huey">
                <label for="nao">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                Possui dificuldade nos conceitos de medida, quantidade, de tempo, de espaço e monetário?
              </p>
              <div>
                <input type="radio" id="sim3" name="drone" value="huey"
                       checked>
                <label for="sim">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao3" name="drone" value="huey">
                <label for="nao">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                Possui dificuldade na compreensão e resolução de problemas?              </p>
              <div>
                <input type="radio" id="sim4" name="drone" value="huey"
                       checked>
                <label for="sim4">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao4" name="drone" value="huey">
                <label for="nao4">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                Possui dificuldade com operações matemáticas básica? (adição, subtração, multiplicação e divisão)
              </p>
              <div>
                <input type="radio" id="sim5" name="drone" value="huey"
                       checked>
                <label for="sim5">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao5" name="drone" value="huey">
                <label for="nao5">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                Possui dificuldade de memorizar, regras, conceitos e fórmulas matemáticas?
              </p>
              <div>
                <input type="radio" id="sim6" name="drone" value="huey"
                       checked>
                <label for="sim6">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao6" name="drone" value="huey">
                <label for="nao6">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                Possui dificuldade na memorização e aplicação da tabuada?
              </p>
              <div>
                <input type="radio" id="sim7" name="drone" value="huey"
                       checked>
                <label for="sim7">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao7" name="drone" value="huey">
                <label for="nao7">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                Lê os números de forma equivocada? (omite, adicionam, substituem, trocam a ordem dos números ao serem lidos)
              </p>
              <div>
                <input type="radio" id="sim8" name="drone" value="huey"
                       checked>
                <label for="sim8">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao8" name="drone" value="huey">
                <label for="nao8">Nao</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                As capacidades acadêmicas estão condizentes substancialmente e quantificavelmente com o esperado para a idade?
              </p>
              <div>
                <input type="radio" id="sim9" name="drone" value="huey"
                       checked>
                <label for="sim9">Sim</label>
              </div>
              <div>
                <input type="radio" id="nao9" name="drone" value="huey">
                <label for="nao9">Nao</label>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-12">
              <div class="form-group">
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" [routerLink]="['/resultado']"> Salvar  </button>
                </div>

              </div>
                <nav>
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </nav>
              </div>

            </div>
            <div class="row">




          </div>
        </div>
      </div>
    </div>
  </div>
</div>
