<!-- INÍCIO DO CONTEÚDO -->
<section >
  <h1>Sobre</h1>
</section>

<section class="content-header">
  <h1>SPD | Sistema de Pre Diagnóstico</h1>

</section>

<section class="content">
  <p class="lead">
    Bem Vindo ao SPD - Sistema de Pre Diagnóstico,
  </p>
  <p class="lead">Nossa missão é levar até você as principais informações e possíveis diagnósticos ligadas às doenças do aprendizado.
    Todo os cálculos necessário para a chegada de um pré diagnóstico é realizado utilizando Inteligência Artificial mais especificamente sistemas especialistas.
    As principais doenças que diagnósticamos são: Dislexia, Discalcia e Transtorno de Déficit de Atenção.
  </p>
  <p class="lead">
    Para Saber mais sobre as doenças <a [routerLink]="['/duvidas']"> clique aqui!</a>
  </p>
  <p class="lead">
    IMPORTANTE!
  </p>
  <p class="lead">
    Os resultados obtidos por meio deste sistema não substitui a necessidade de consultar um especialista na área.
  </p>

</section>
<!-- FIM DO CONTEÚDO -->
