<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Dependentes
      </h3>
      <form role="form">
        <div class="form-group">

          <label for="exampleInputNome">
            Nome Completo
          </label>
          <input type="text" class="form-control" id="exampleInputNome" />
        </div>
        <div class="form-group">

          <label for="exampleInputDocumento">
            Documento
          </label>
          <input type="number" class="form-control" id="exampleInputDocumento" />
        </div>
        <div class="form-group">

          <label for="exampleInputDataNascimento">
            Data de Nascimento
          </label>
          <input type="date" class="form-control" id="exampleInputDataNascimento" />
        </div>
        <div class="form-group">

        <label for="exampleInputNacionalidade">Nacionalidade</label>
        <select class="browser-default custom-select mb-4" id="exampleInputNacionalidade">
          <option value="" disabled selected>Choose option</option>
          <option value="1" >Brasileiro(a)</option>
          <option value="2">Estrangeiro(a)</option>
        </select>

          <div class="form-group">
          <button type="submit" class="btn btn-primary">
            Salvar
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
