<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Usuário
      </h3>
      <form role="form">
        <div class="form-group">

          <label for="exampleInputNome">
            Nome Completo
          </label>
          <input type="text" class="form-control" id="exampleInputNome" />
        </div>


        <ul>
          <li *ngFor="let  user of usuario">

           <div *ngIf="user.email != null">
            <div>{{user.email}}</div>

           </div>
          </li>
        </ul>



        <div class="form-group">

          <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
              <label for="exampleInputDocumento">
                Documento
              </label>
              <input type="number" class="form-control" id="exampleInputDocumento" />
            </div>


            <div class="row">
              <div class="col-sm-3 mb-3 mb-sm-0">
                <label for="exampleInputDataNascimento">
                  Data de Nascimento
                </label>
                <input type="date" class="form-control" id="exampleInputDataNascimento" />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3 mb-3 mb-sm-0">
            <label for="exampleInputNacionalidade">Nacionalidade</label>
            <select class="browser-default custom-select mb-4" id="exampleInputNacionalidade">
              <option value="" disabled selected>Choose option</option>
              <option value="1" >Brasileiro(a)</option>
              <option value="2">Estrangeiro(a)</option>
            </select>
          </div>
        </div>


            <div class="form-group">

              <div class="row">
                <div class="col-sm-9 mb-3 mb-sm-0">
                  <label for="exampleInputEmail1">
                    E-mail
                  </label>
                  <input type="number" class="form-control" id="exampleInputEmail1" />
                </div>
              </div>
            </div>

        <div class="form-group">

          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label for="exampleInputEndereco">
                Edereço
              </label>
              <input type="number" class="form-control" id="exampleInputEndereco" />
            </div>


            <div class="row">
              <div class="col-sm-2 mb-3 mb-sm-0">
                <label for="exampleInputNumero">
                  numero
                </label>
                <input type="number" class="form-control" id="exampleInputNumero" />
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-3 mb-3 mb-sm-0">
            <label for="exampleInputUf">UF</label>
            <select class="browser-default custom-select mb-4" id="exampleInputUf">
              <option value="" disabled selected>Choose option</option>
              <option value="1" >Brasileiro(a)</option>
              <option value="2">Estrangeiro(a)</option>
            </select>
          </div>
        </div>

        <div class="form-group">

          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label for="exampleInputComplemento">
                Complemento
              </label>
              <input type="number" class="form-control" id="exampleInputComplemento" />
            </div>


            <div class="row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="exampleInputBairro">
                  Bairro
                </label>
                <input type="number" class="form-control" id="exampleInputBairro" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">

          <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
              <label for="exampleInputCep">
                Cep
              </label>
              <input type="number" class="form-control" id="exampleInputCep" />
            </div>

            <div class="row">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <label for="exampleInputCidade">
                  Cidade
                </label>
                <input type="number" class="form-control" id="exampleInputCidade" />
              </div>


            <div class="row">
              <div class="col-sm-4 mb-3 mb-sm-0">
                <label for="exampleInputTelefone">
                  Telefone
                </label>
                <input type="number" class="form-control" id="exampleInputTelefone" />
              </div>
            </div>
          </div>
        </div>

          <div class="form-group">

            <div class="row">
              <div class="col-sm-4 mb-3 mb-sm-0">

              </div>
            </div>
          </div>


          <div class="form-group">
          <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
              <button type="submit" class="btn btn-primary">
                Salvar
              </button>
            </div>
          </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
