<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Diagnóstico
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Com as respostas obtidas atravez dos questionários respondido foi dentificado os seguintes sintomas:
        como agitação, fala alta,  brincadeiras exageradas e diminuição do desempenho academico.
      </p>
      <p>
        Foi através dos calculos realizados em cima do questionário a criança possui: 90% de chance de ter Discalculia,
        65% de chances de ter Dislexia e 8% de ter Transtorno de Déficit de Atenção com hiperatividade. É indicado a
        por procura de um especialista para mais exames.
      </p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <img src="https://i.pinimg.com/originals/de/c8/51/dec8513038176d5d197e54f735dbbb75.png"  style="width:300px;height:300px;">
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <p></p>

  <h4>Importante!</h4>
  <p>
    A conclusão deste teste não diminui a necessidade de um diagnóstico médico mais completo.
  </p>
</div>
