<!-- INÍCIO DO CONTEÚDO -->
<section >
  <h1>Dúvidas</h1>
</section>

<section class="content-header">
  <h1>Dislexia</h1>
</section>

<section class="content">
  <p class="lead">
    O que é?
  </p>
  <p class="lead">
    A dislexia é caracterizada como a dificuldade de fazer essa conversão por
    motivo de um atraso no desenvolvimento nas áreas acadêmicas.  A dislexia é separada em dois tipos,
    dislexia na escrita e dislexia na leitura cada um possuindo as suas manifestações
    específicas.
  </p>

  <p class="lead">
    Sintomas:
  </p>
  <p class="lead">
    Dislexia na escrita – dificuldades ao diferenciar grafemas com fonéticas
    semelhantes, dificuldade na precisão, entendimento e fluência em leituras,
    frequentes trocas, retirada, adições e trocas de letras e silabas.
  </p>
  <p class="lead">
    Dislexia na leitura – dificuldade no deciframento fonema-grafema, dificuldade
    na formação de frases e na organização de ideias e em alguns casos
    caligrafia irregular.
  </p>

</section>

<section class="content-header">
  <h1>Discalculia</h1>
</section>

<section class="content">
  <p class="lead">
    O que é?
  </p>
  <p class="lead">
    É uma deficiência na  habilidade aritmética onde é apresentado uma dificuldade em compreender os
    conceitos e na compreensão intuitiva dos números e dificuldade na aprendizagem
    de factos e problemas numéricos. Em geral pessoas com esse tipo de deficiência conseguem utilizar os
    métodos para resolver os problemas de forma correta apenas de uma forma
    mecânica. Além disso, é caracterizado por dificuldade no raciocino matemático, na
    memorização, fluência e precisão dos cálculos.
  </p>

  <p class="lead">
    Sintomas:
  </p>
  <p class="lead">
    Durante a infância é possível observar a dificuldades na aprendizagem e
    recordação de conceitos, regras, formulas e cálculos numéricos, compreensão do
    conceito de numerosidade, conceito de medidas e quantidade, compreensão e
    resolução de problemas, nas operações básicas, aplicação da tabuada e na leitura
    equivocada dos números.
  </p>

</section>

<section class="content-header">
  <h1>TDAH</h1>
</section>

<section class="content">
  <p class="lead">
    O que é?
  </p>
  <p class="lead">
    O TDHA, conhecida também como DDA (Distúrbio de Deficit de Atenção), é
    uma doença neurológica que afeta em torno de 6,8% da população infantil,
    classificados em níveis de desatenção, impulsividade e/ou hiperatividade-impulsividade.
    Esse transtorno pode se fazer presente até a vida adulta trazendo prejuízo na vida acadêmica, pessoal e
    profissional.
  </p>

  <p class="lead">
    Sintomas:
  </p>
  <p class="lead">
    Sintomas associados a atenção e concentração – Dificuldade de atenção e
    concentração, dificuldade em iniciar e manter o foco em uma atividade,
    dificuldade em lembrar detalhes do dia-a-dia, dificuldades em absorver
    estímulos, normas e instruções, dificuldade em realizar atividades repetitivas
    e dificuldades em manter o foco em apenas uma atividade.
  </p>
  <p class="lead">
    Sintomas associados a impulsividade – Alto índice de espontaneidade
    causando dificuldade em controlar seu comportamento, pensamentos e
    sentimentos, dificuldade em planejar atividades cotidianas, dificuldade em
    seguir instruções e normas, dificuldade em demonstrar empatia, possuem
    dificuldade em aceitar as perdas e não possuem consciência dos perigos de
    suas ações.
  </p>
  <p class="lead">
    Sintomas associados e hiperatividade – Dificuldade em se manter quietas
    incluindo constantes movimentos dos pés e das mãos, tendem a ter ações
    inapropriadas atrapalhando conversas e atividades e dificuldades em iniciar e
    manter o foco em atividades que exijam paciência e atenção.
  </p>
  <p class="lead">
    Sintomas associados a relacionamentos – Constantes mudanças de humor,
    ansiedade e baixa autoestima.
  </p>
</section>

  <section class="content-header">
    <h1>Critérios de diagnósticos:</h1>
  </section>

<section class="content">
  <p class="lead">TDAH – Os critérios de diagnósticos são divididos em 5 tópicos principais:</p>
  <p class="lead">Critério A – É necessário apresentar um padrão persistente de
    desatenção e/ou hiperatividade e impulsividade. É necessário
    apresentar pelo menos 6 sintomas durante um período de 6 meses.</p>
  <p class="lead">Critério B – É necessário que os primeiros sintomas estejam
    presentes antes dos 12 anos.</p>
  <p class="lead">Critério C – É necessário que os sintomas se apresentem em pelo
    menos dois ambientes.</p>
  <p class="lead"> Critério D – Os sintomas devem interferir ou diminuir a qualidade de
    vida social, acadêmica ou profissional.</p>
  <p class="lead">Critério E – Os sintomas não aparecem apenas durante outros
    transtornos psicóticos ou mentais.</p>

  <p class="lead">Dislexia e Discalculia – Os critérios de diagnóstico são divididos em 4 tópicos
    principais:</p>
  <p class="lead">Critério A – Existir dificuldades na aprendizagem e habilidades
    acadêmicas em um período de pelo menos 6 meses.</p>
  <p class="lead">Critério B – Desempenho acadêmico, profissional e atividades
    acadêmicas são afetadas de forma significante, abaixo do esperado
    para a idade.</p>
  <p class="lead"> Critério C – Os primeiros sintomas se apresentam nos primeiros anos
    escolares.</p>
  <p class="lead">Critério D – As dificuldades não são explicadas por problemas de
    visão, audição ou inteligência, outros transtornos psicológicos ou
    mentais e falta de proficiência acadêmica ou instituição inadequada.</p>


</section>
<!-- FIM DO CONTEÚDO -->
